.scroll-pane {
    -fx-background: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10px;
}

.scroll-bar .track {
    -fx-background-color: #1E2A38;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb {
    -fx-background-color: #45A29E;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #66FCF1;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
}